@font-face {
    font-family: blueakabold;
    src: url("https://cdn.wstudio.work/wangrun/wrblog/fonts/BlueakaBeta2GBK-Bold.ttf");
}

body {
    font-family: blueakabold;
}

#home_page h1 {
    color: #1acdda;
}
.dark #home_page h1{
    color: white;
}

@media screen and (max-width: 900px) {
    #home_page h1 {
        color: #a748eb;
    }
}

